 《Python数据挖掘方法及应用》PyDm
# 【第1章 数据收集与分析软件】notes 1 
## **edited from professor Binghui Wang**
## jupyter快捷键

In [ ]:
# jupyter快捷键（jupyter有两个模式，命令模式和编辑模式）

 

# 　　当前cell侧边为蓝色时，表示此时为命令模式，按Enter切换为编辑模式

# 　　当前cell侧边为绿色时，表示此时为编辑模式，按Esc切换为命令模式

# 命令模式快捷键：

# 　　双击D：删除当前cell
# 　　Shift-Enter：运行当前cell并跳转到下一cell
# 　　Alt-Enter：运行当前cell并在下方新建cell
# 　　Tab：代码补全
# 　　A：在上方新建cell
# 　　B：在下方新建cell
# 　　L：为当前cell的代码添加行编号
# 　　Shift-M：合并所选cell或合并当前cell和下方的cell
# 　　Y：把当前cell内容转换为代码形式
# 　　M：把当前cell内容转换为markdown形式
# 　　H：显示快捷键帮助
# 　　F：查找和替换
# 　　P：打开命令面板
# 　　Ctrl-Enter：运行当前cell
# 　　1~6：把当前cell内容设置为标题1~6格式
# 　　Shift+上下键：按住Shift进行上下键操作可复选多个cell

# 　　L:显示行号

# plt绘图显示中文

# import matplotlib.pyplot as plt
# plt.rc(‘font‘, family=‘SimHei‘, size=13)

# notes
## 导入函数

In [3]:
"""
###   Python数据挖掘方法及应用（PyDm）
###   函数库 PyDm_code.py
###   数据框 PyDm_data.xlsx
###   王斌会 王术 2018-6-2
"""
## -*- coding: utf-8 -*-

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

def tab(x,plot=False): #计数频数表和绘图
   f=x.value_counts();f
   s=sum(f);
   p=round(f/s*100,3);p
   T1=pd.concat([f,p],axis=1);
   T1.columns=['例数','构成比'];
   T2=pd.DataFrame({'例数':s,'构成比':100.00},index=['合计'])
   Tab=T1.append(T2)
   if plot:
     fig,ax = plt.subplots(1,2,figsize=(15,6))
     ax[0].bar(f.index,f); # 条图
     ax[1].pie(p,labels=p.index);  # 饼图
   return(round(Tab,3))

def freq(X,bins=10,density=False): #计量频数表与直方图
    if density:
        H=plt.hist(X,bins,density=density)
        plt.plot(H[1],st.norm.pdf(H[1]),color='r');
    else:
       H=plt.hist(X,bins);
    a=H[1][:-1];a
    b=H[1][1:];b
    f=H[0];f
    p=f/sum(f)*100;p
    cp=np.cumsum(p);cp
    Freq=pd.DataFrame([a,b,f,p,cp],index=['[下限','上限)','频数','频率(%)','累计频数(%)'])
    return(round(Freq.T,2))

def stats(x): #基本统计量
    stat=[x.count(),x.min(),x.quantile(.25),x.mean(),x.median(),
           x.quantile(.75),x.max(),x.max()-x.min(),x.var(),x.std(),x.skew(),x.kurt()]
    stat=pd.Series(stat,index=['Count','Min', 'Q1(25%)','Mean','Median',
                               'Q3(75%)','Max','Range','Var','Std','Skew','Kurt'])
    return(stat)

def norm_p(a=-2,b=2): ### 正态曲线面积图
    x=np.arange(-4,4,0.1)
    y=st.norm.pdf(x)
    x1=x[(a<=x) & (x<=b)];x1
    y1=y[(a<=x) & (x<=b)];y1
    p=st.norm.cdf(b)-st.norm.cdf(a);p
    #plt.title("N(0,1)分布: [%6.3f %6.3f] p=%6.4f"%(a,b,p))
    plt.plot(x,y);
    plt.hlines(0,-4,4);
    plt.vlines(x1,0,y1,colors='r');
    plt.text(-0.5,0.2,"%5.2f％" % (p*100.0),fontsize=15);

#norm_p(1.6,4)
#norm_p(1.24,4)
#norm_p(-0.67,4)

def t_p(a=-2,b=2,df=10,k=0.1):
    x=np.arange(-4,4,k)
    y=st.t.pdf(x,df)
    x1=x[(a<=x) & (x<=b)];x1
    y1=y[(a<=x) & (x<=b)];y1
    p=st.t.cdf(b,df)-st.t.cdf(a,df);p
    plt.plot(x,y);
    plt.title("t(%2d): [%6.3f %6.3f] p=%6.4f"%(df,a,b,p))
    plt.hlines(0,-4,4); plt.vlines(x1,0,y1,colors='r');
    plt.text(-0.5,0.2,"p=%6.4f" % p,fontsize=15);

from math import sqrt
def t_interval(b,x):
    a=1-b
    n = len(x)
    ta=st.t.ppf(1-a/2,n-1);ta
    se=x.std()/sqrt(n)
    return(x.mean()-ta*se, x.mean()+se*ta)
#t_interval(0.95,BSdata['身高'])

def ttest_1plot(X,mu=0): # 单样本均值t检验图
    k=0.1
    df=len(X)-1
    t1p=st.ttest_1samp(X, popmean = mu);
    x=np.arange(-4,4,k); y=st.t.pdf(x,df)
    t=abs(t1p[0]);p=t1p[1]
    x1=x[x<=-t]; y1=y[x<=-t];
    x2=x[x>=t]; y2=y[x>=t];
    print("  单样本t检验\t t=%6.3f p=%6.4f"%(t,p))
    print("  t置信区间: ",st.t.interval(0.95,len(X)-1,X.mean(),X.std()))
    plt.plot(x,y); plt.hlines(0,-4,4);
    plt.vlines(x1,0,y1,colors='r'); plt.vlines(x2,0,y2,colors='r');
    plt.text(-0.5,0.05,"p=%6.4f" % t1p[1],fontsize=15);
    plt.vlines(st.t.ppf(0.05/2,df),0,0.2,colors='b');
    plt.vlines(-st.t.ppf(0.05/2,df),0,0.2,colors='b');
    plt.text(-0.5,0.2,r"$\alpha$=%3.2f"%0.05,fontsize=15);

def reglinedemo(n=20):    #模拟直线回归
    x=np.arange(n)+1
    e=np.random.normal(0,1,n)
    y=2+0.5*x+e
    import statsmodels.api as sm
    x1=sm.add_constant(x);x1
    fm=sm.OLS(y,x1).fit();fm
    plt.plot(x,y,'.',x,fm.fittedvalues,'r-'); #添加回归线，红色
    for i in range(len(x)):
        plt.vlines(x,y,fm.fittedvalues,linestyles='dotted',colors='b');
#reglinedemo(30);   #最小二乘回归示意图---直线回归

## 导入数据

In [5]:

### 读数据xlsx（本地）
BSdata=pd.read_excel('PyDm_data.xlsx','BSdata'); BSdata[:6]
### 读数据csv（云端）
#url2='http://leanote.com/api/file/getAttach?fileId=5abbb3aaab6441507e002167'
#dat2=pd.read_excel(url2,'BSdata'); dat2

#
#第1章 数据收集与软件应用
##1.3 Python编程基础
#### 1.3.1.1 Python的工作目录
# '''获得当前目录'''
# pwd
# '''改变工作目录'''
# cd "D:\\PyDm"
# pwd

# !dir

           学号 性别   身高  体重    支出   开设    课程      软件
0  1510248008  女  167  71  46.0  不清楚  都未学过      No
1  1510229019  男  171  68  10.4  有必要  概率统计  Matlab
2  1512108019  女  175  73  21.0  有必要  统计方法    SPSS
3  1512332010  男  169  74   4.9  有必要  编程技术   Excel
4  1512331015  男  154  55  25.9  有必要  都学习过  Python
5  1516248014  男  183  76  85.6  不必要  编程技术   Excel

In [6]:
pwd

'/Users/susan/Desktop/pythonjupyter/dataminging202009'

## Python编程基础

In [9]:
###1.3.2 Python基本数据类型
####1.3.2.1 数据对象及类型
#列举当前环境中的对象名
%who

BSdata	 freq	 norm_p	 np	 pd	 plt	 reglinedemo	 sqrt	 st
stats	 t_interval	 t_p	 tab	 ttest_1plot	 x

In [11]:
x=10   #创建对象x
%whos

Variable      Type                          Data/Info
-----------------------------------------------------
BSdata        DataFrame                                 学号 性别   身高  体<...>  56.8  不必要  概率统计     SAS
freq          function                      <function freq at 0x11d3d90d0>
norm_p        function                      <function norm_p at 0x1291e8a60>
np            module                        <module 'numpy' from '/an<...>kages/numpy/__init__.py'>
pd            module                        <module 'pandas' from '/a<...>ages/pandas/__init__.py'>
plt           module                        <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
reglinedemo   function                      <function reglinedemo at 0x12933f268>
sqrt          builtin_function_or_method    <built-in function sqrt>
st            module                        <module 'scipy.stats' fro<...>scipy/stats/__init__.py'>
stats         function                      <function stats at 0x1291e8840>
t_interval    function                      <function t_interval at 0x12933f158>
t_p           function                      <function t_p at 0x12933a0d0>
tab           function                      <function tab at 0x10fcf2950>
ttest_1plot   function                      <function ttest_1plot at 0x12933f1e0>
x             int                           10

In [12]:
del x   #删除对象x
%who_ls

['BSdata',
 'freq',
 'norm_p',
 'np',
 'pd',
 'plt',
 'reglinedemo',
 'sqrt',
 'st',
 'stats',
 't_interval',
 't_p',
 'tab',
 'ttest_1plot']

In [13]:
####1.3.2.2 数据基本类型
#数字
n=10       #整数
n
print("n=",n)
x=10.234   #实数
x
print("x=%10.5f"%x)

n= 10
x=  10.23400

In [14]:

a=True;a
b=False;b

10>3
10<3

False

In [15]:
# 字符串
s = 'I love Python';s
s[7]
s[2:6]
s+s
s*2

'I love PythonI love Python'

In [16]:
float('nan')

nan

In [17]:
####1.3.3.3 标准数据类型
#（1）List（列表）
list1 =[] # 空列表
list1
list1 = ['Python', 786 , 2.23, 'R', 70.2]
list1 # 输出完整列表
list1[0] # 输出列表的第一个元素
list1[1:3] # 输出第二个至第三个元素
list1[2:] # 输出从第三个开始至列表末尾的所有元素
list1 * 2 # 输出列表两次
list1 + list1[2:4] # 打印组合的列表

['Python', 786, 2.23, 'R', 70.2, 2.23, 'R']

In [19]:
X=[1,3,6,4,9]; X
sex=['女','男','男','女','男']
sex
weight=[67,66,83,68,70];
weight

[67, 66, 83, 68, 70]

In [ ]:
# 向 list 中增加元素

# 1.使用append  向list 的末尾追加单个元素。(把列表当做堆栈使用——后进（后出）)
#listA = ['a', 'b', 'c', 1, 2, 3]
listA.append(3)

# 2.使用 insert  将单个元素插入到list 中。数值参数是插入点的索引
# 在下标为3处插入一个元素，listA = ['a', 'b', 'c', 'd', 1, 2, 3]
listA.insert(3, 'd') 

# 3.使用 extend 用来连接 list
# listA = ['a', 'b', 'c', 'd', 1, 2, 3, 7, 8]
listA.extend([7, 8])

# 获取列表的长度
print len(listA)  # 9

# 在 list 中搜索
listA.index(3)  # index 在 list 中查找一个值的首次出现并返回索引值。
listA.index('100')  # 如果在 list 中没有找到值，Python 会引发一个异常。

print 5 in listA  # 要测试一个值是否在 list 内，使用 in。如果值存在，它返回 True，否则返为 False 。

# 从 list 中删除元素
listA.remove(3)  # remove 从 list 中 仅仅 删除一个值的首次出现。如果在 list 中没有找到值，Python 会引发一个异常

print listA.pop()  # pop 它会做两件事：删除 list 的最后一个元素，然后返回删除元素的值。(把列表当做堆栈使用——（后进）后出)

# 还有一种把列表当做队列使用，最先进入的元素最先释放（先进先出）
# 不过，列表这样用效率不高。相对来说从列表末尾添加和弹出很快；
# 在头部插入和弹出很慢（因为，为了一个元素，要移动整个列表中的所有元素）。

# 遍历list
for item in listA:
    print item

In [ ]:
# extend (扩展) 与 append (追加) 的看起来类似，但实际上完全不同。

# extend 接受一个参数，这个参数总是一个 list，并且把这个 list 中的每个元素添加到原 list 中。
# append 接受一个参数，这个参数可以是任何数据类型，并且简单地追加到 list 的尾部。

In [36]:
#（2）Tuple（元组）
#定义一个元组
tuple1 = (1,2,'a',4,'5',6)

# 定义了一个元组之后就无法再添加或修改元组中的元素，其他和list一样

tuple1[2] # 'a' 元组的元素都有确定的顺序。元组的索引也是以0为基点的

'a'

In [37]:
tuple1[-1] # '5' 负的索引从元组的尾部开始计数

6

In [38]:
tuple1[1:3] # (2, 'a')  元组也可以进行切片操作。对元组切片可以得到（返回）新的元组，原元组不变

(2, 'a')

In [42]:
# 可以使用 in 运算符检查某元素是否存在于元组中。
print (1 in tuple1)   # True

True

In [43]:
#使用for in 进行遍历元组
for item in tuple1:
    print (item)

1
2
a
4
5
6

In [44]:
# 如果需要获取item的序号 可以使用下面的遍历方法：
for index in range(len(tuple1)):   #range(len(tuple1))就是生成一个自然排序列表
    print (tuple1[index])

1
2
a
4
5
6

In [45]:

# 还可以使用内置的enumerate函数
for index, item in enumerate(tuple1):
    print ('%i, %s' % (index, item))

0, 1
1, 2
2, a
3, 4
4, 5
5, 6

In [20]:

#（3）Dictionary（字典）
#字典
# 　字典定义了键和值之间一对一的关系,但它们是以无序的方式储存的。 Python 中的 dictionary 像 Java 中的 Hashtable 类的实例。定义 Dictionary 使用一对大(花)括号” { } “

# Dictionary 不只是用于存储字符串。Dictionary 的值可以是任意数据类型，包括字符串、整数、对象，甚至其它的 dictionary。
# 在单个 dictionary 里，dictionary 的值并不需要全都是同一数据类型，可以根据需要混用和匹配。

{}            #空字典
dict1={'name':'john','code':6734,'dept':'sales'};dict1 #定义字典
dict1['code']  # 输出键为'code' 的值
dict1.keys()   # 输出所有键
dict1.values() # 输出所有值

dict2={'sex': sex,'weight':weight}; dict2 #根据列表构成字典

{'sex': ['女', '男', '男', '女', '男'], 'weight': [67, 66, 83, 68, 70]}

In [48]:
# (4)集合（Set）
# 　　Python的集合(set)和其他语言类似, 是一个无序不重复元素集, 基本功能包括关系测试和消除重复元素. 集合对象还支持union(联合), intersection(交), difference(差)和sysmmetric difference(对称差集)等数学运算.由于集合是无序的,所以，sets 不支持 索引, 分片, 或其它类序列（sequence-like）的操作。

# 集合也存在不可变形式,frozenset为固定集合.
# set和dict类似，也是一组key的集合，但不存储value。由于key不能重复，所以，在set中，没有重复的key。
# 注意：想要创建空集合，你必须使用 set() 而不是 {} ，后者用于创建空字典
# 可以通过一个set函数转换成集合，如：
lst = [ 1, 1, 0]

lst_set = set( lst )  #lst_set 为1 , 0

tup = (2, 2, 1)

tup_set = set( tup) # tup_set为2 , 1

for item in lst_set:
    print (item)

0
1

In [ ]:
# 使用 set 函数创建集合
list1 = [6, 7, 7, 8, 8, 9]
set2 = set(list1)

set2.add(10)  # 添加新元素
print set2  # set([8, 9, 10, 6, 7])  去掉重复内容,而且是无序的

set3 = frozenset(list1)
#set3.add(10)  # 固定集合不能添加元素，会报错AttributeError: 'frozenset' object has no attribute 'add'

### 集合有并集，交集，求差操作
### a & b 并集：intersection() 方法返回一个新集合，包含在两个集合中同时出现的所有元素。
### a | b 交集：union() 方法返回一个新集合，包含在两个 集合中出现的元素。
### a - b 差集：difference() 方法返回的新集合中，包含所有在 集合A出现但未在集合B中的元素。
### a ^ b 对称差集：symmetric_difference() 方法返回一个新集合，包含所有只在其中一个集合中出现的元素。

# 删除元素
set2.discard(6)   # 当元素不存在时,不会引发异常
set2.remove(6)    # 与discard的区别在于，如果没有要删除的元素，remove会引发一个异常
set2.pop()  # 因为set是无序的，所以pop会随机的从set中删除一个元素

In [21]:
###1.3.3 数值分析库numpy
####1.3.3.1 一维数组
import numpy as np       #加载数组包
np.array([1,2,3,4,5])         #一维数组
np.array([1,2,3,np.nan,5])    #包含缺失值的数组

np.arange(9)             #数组序列
np.arange(1,9,0.5)       #等差数列
np.linspace(1,9,5)       #等距数列

np.random.randint(1,9)   #1~9随机数
np.random.rand(10)       #10个均匀随机数
np.random.randn(10)      #10个正态随机数

array([-1.42198938,  0.46709488, -0.09103334, -1.57503333,  0.96091646,
       -0.0378621 , -0.81247843,  0.03824071, -1.63542792, -0.68610008])

In [22]:
####1.3.3.2 二维数组
np.array([[1,2],[3,4],[5,6]])   #二维数组

array([[1, 2],
       [3, 4],
       [5, 6]])

In [23]:
####1.3.3.3. 数组的基本操作
A=np.arange(9).reshape(3,3);A        #形成矩阵
A.shape
np.empty([3,3]) #空数组
np.zeros((3,3)) #零矩阵
np.ones((3,3))  #1矩阵
np.eye(3) #单位阵

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [24]:
###1.3.4 数据分析库pandas
import pandas as pd   #加载数据分析包

####1.3.4.1 序列: Seriers
#（1）创建序列（向量、一维数组）
pd.Series()           #生成空序列
X=[1,3,6,4,9]
S1=pd.Series(X);S1
S2=pd.Series(weight);S2
S3=pd.Series(sex);S3

pd.concat([S2,S3],axis=0)    #按行并序列
pd.concat([S2,S3],axis=1)    #按列并序列

S1[2]
S3[1:4]

1    男
2    男
3    女
dtype: object

In [25]:
####1.3.4.2 数据框: DataFrame
#（1）根据列表创建数据框
pd.DataFrame()      #生成空数据框
pd.DataFrame(X, columns=['X'], index=range(5))
pd.DataFrame(weight,columns=['weight'], index=['A','B','C','D','E'])

   weight
A      67
B      66
C      83
D      68
E      70

In [26]:
#（2）根据字典创建数据框
'''通过字典列表生成数据框是Python较快捷的方式 '''
df1=pd.DataFrame({'S1':S1,'S2':S2,'S3':S3});df1
df2=pd.DataFrame({'sex':sex,'weight':weight},index=X);df2

  sex  weight
1   女      67
3   男      66
6   男      83
4   女      68
9   男      70

In [27]:
#（3）增加数据框列
df2['weight2']=df2.weight**2; df2   # 生成新列

  sex  weight  weight2
1   女      67     4489
3   男      66     4356
6   男      83     6889
4   女      68     4624
9   男      70     4900

In [28]:
#（4）删除数据框列
del df2['weight2']; df2   #删除数据列

df3=pd.DataFrame({'S2':S2,'S3':S3},index=S1);df3

df3.isnull()#是缺失值返回True，否则范围False
df3.isnull().sum()#返回每列包含的缺失值的个数
df3.dropna()   #直接删除含有缺失值的行，多变量谨慎使用
#df3.dropna(how = 'all')#只删除全是缺失值的行

     S2 S3
1  66.0  男
3  68.0  女
4  70.0  男

In [29]:
#（5）数据框排序
df3.sort_index()         #按index排序
df3.sort_values(by='S3') #按列值排序

     S2   S3
3  68.0    女
1  66.0    男
4  70.0    男
6   NaN  NaN
9   NaN  NaN

In [49]:
####1.3.4.3 数据框的读和写
#（1）pandas读取数据集
#BSdata=pd.read_clipboard();BSdata[:5]  #从剪切板上复制数据
BSdata=pd.read_csv("BSdata.csv",encoding='utf-8');BSdata[6:9]
BSdata=pd.read_excel('PyDm_data.xlsx','BSdata');BSdata[-5:]

            学号 性别   身高  体重    支出   开设    课程      软件
47  1538319004  男  175  68  44.4  不清楚  统计方法     SAS
48  1538254010  女  166  65   5.3  不清楚  编程技术  Python
49  1540294017  女  159  58  71.4  不清楚  都学习过    SPSS
50  1540365026  女  169  73   5.5  有必要  统计方法   Excel
51  1540388036  女  165  67  56.8  不必要  概率统计     SAS

In [50]:
#（2）pandas数据集的保存
BSdata.to_csv('BSdata1.csv') # 将数据框BSdata存 保存到 到BSdata.csv

In [51]:
####1.3.4.4 数据框的操作
#（1）获取数据框的基本信息
BSdata.info()            #数据框信息

BSdata.head()            #显示前5行
BSdata.tail()            #显示后5行
BSdata.columns           #查看列名称

BSdata.index             #数据框行名
BSdata.values            #数据框值数组
BSdata.shape             #显示数据框的行数和列数
BSdata.shape[0]          #数据框行数
BSdata.shape[1]          #数据框列数

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 8 columns):
学号    52 non-null int64
性别    52 non-null object
身高    52 non-null int64
体重    52 non-null int64
支出    52 non-null float64
开设    52 non-null object
课程    52 non-null object
软件    52 non-null object
dtypes: float64(1), int64(3), object(4)
memory usage: 3.3+ KB

8

In [52]:
#（2）选取变量
BSdata.性别              #取一列数据，BSdata['性别']
BSdata[['身高','体重']]  #取两列数据
BSdata[:3]               #BSdata.head(3)
BSdata.loc[:3,['身高','体重']]
BSdata.iloc[:3,:5]       #0到2行和1:5列数据

           学号 性别   身高  体重    支出
0  1510248008  女  167  71  46.0
1  1510229019  男  171  68  10.4
2  1512108019  女  175  73  21.0

In [53]:
#（3）选取观测与变量
BSdata.loc[:3,['身高','体重']]
BSdata.iloc[:3,:5]       #0到2行和1:5列数据

           学号 性别   身高  体重    支出
0  1510248008  女  167  71  46.0
1  1510229019  男  171  68  10.4
2  1512108019  女  175  73  21.0

In [54]:
#（4）根据条件选取样品与变量
BSdata[BSdata['身高']>180]

            学号 性别   身高  体重    支出   开设    课程     软件
5   1516248014  男  183  76  85.6  不必要  编程技术  Excel
10  1520100029  男  184  82  10.3  有必要  都学习过    SAS
21  1525352033  男  185  83   5.1  有必要  都学习过   SPSS
32  1530243029  男  186  87   9.5  不必要  都未学过     No

In [ ]:
# (5) query法
BSdata.query('身高>180')
BSdata.query('身高>180 and 体重>80')

In [55]:
#（6）数据框的运算
BSdata['体重指数']=BSdata['体重']/(BSdata['身高']/100)**2
round(BSdata[:5],2)
del BSdata['体重指数']   #删除数据列

pd.concat([BSdata.身高, BSdata.体重],axis=0)
pd.concat([BSdata.身高, BSdata.体重],axis=1)

BSdata.iloc[:3,:5].T

             0           1           2
学号  1510248008  1510229019  1512108019
性别           女           男           女
身高         167         171         175
体重          71          68          73
支出          46        10.4          21

In [56]:
###1.3.3 Python编程运算
####1.3.3.1 基本运算
####1.3.3.2 控制语句
#（1）循环语句for
for i in range(1,5):
     print(i)

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:
   print('当前水果 :', fruit)

for num in range(10,15):
    print(num)

for var in BSdata.columns:
    print(var)

1
2
3
4
当前水果 : banana
当前水果 : apple
当前水果 : mango
10
11
12
13
14
学号
性别
身高
体重
支出
开设
课程
软件

In [ ]:
#（2）条件语句if/else
a = -100
if a < 100:
    print("数值小于100")
else:
    print("数值大于100")

-a if a<0 else a

In [57]:
#### 1.3.3.3 函数定义
#### 1.3.3.4 面向对象
x=[1,3,6,4,9,7,5,8,2]; x
def xbar(x):
    n=len(x)
    xm=sum(x)/n
    return(xm)

xbar(x)

np.mean(x)

X=np.array([1,3,6,4,9,7,5,8,2]);X # 列表数组
def SS1(x):
    n=len(x)
    ss=sum(x**2)-sum(x)**2/n
    return(ss)
SS1(X) #SS1(BSdata. 身高)

60.0

In [58]:
def SS2(x): # 返回多个值
    n=len(x)
    xm=sum(x)/n
    ss=sum(x**2)-sum(x)**2/n
    return[x**2,n,xm,ss] #return(x**2,n,xm,ss)
SS2(X) #SS2(BSdata. 身高)

SS2(X)[0] # 取第1 个对象
SS2(X)[1] # 取第2 个对象
SS2(X)[2] # 取第3 个对象
SS2(X)[3] # 取第4 个对象

type(SS2(X))
type(SS2(X)[3])

numpy.float64